.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.2s;
  border: 1px solid var(--clr-border-button);
  background: var(--clr-bg-tertiary);
  color: var(--clr-text-button);
}

.button:hover {
  background: var(--clr-bg-hover);
  color: var(--clr-text-button);
}
